<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.MaRoleMenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.entity.MaRoleMenu">
        <id column="BSM" property="bsm" />
        <result column="MENU_BSM" property="menuBsm" />
        <result column="ROLE_BSM" property="roleBsm" />
        <result column="CREATE_TIME" property="createTime" />
        <result column="UPDATE_TIME" property="updateTime" />
        <result column="DELETE_FLAG" property="deleteFlag" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        BSM, MENU_BSM, ROLE_BSM, CREATE_TIME, UPDATE_TIME, DELETE_FLAG
    </sql>

</mapper>
