<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mybatisplus.mapper.MaUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.example.mybatisplus.entity.MaUser">
        <id column="BSM" property="bsm"/>
        <result column="USERNAME" property="username"/>
        <result column="PASSWORD" property="password"/>
        <result column="FLAG" property="flag"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        BSM, USERNAME, PASSWORD, FLAG
    </sql>
    <select id="selectByJy" parameterType="java.lang.String" resultType="com.example.mybatisplus.entity.MaUser">
    select BSM, USERNAME, PASSWORD, FLAG
    from MA_USER
    where USERNAME = #{username,jdbcType=VARCHAR}
    and PASSWORD = #{password,jdbcType=VARCHAR}
    </select>
    <select id="selectByXm" parameterType="java.lang.String" resultMap="BaseResultMap">
    select BSM, USERNAME, PASSWORD, FLAG
    from MA_USER
    where USERNAME = #{username,jdbcType=VARCHAR}
    </select>
</mapper>
